<h2 class="text-center fs-1">Realizar Pedido</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pedido Logado</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to
                        additional content.</p>

                    <button class="btn btn-primary" (click)="btnToLoginPage()">Go somewhere</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pedido sem Logar</h5>
                    <p class="card-text">
                        With supporting text below as a natural lead-in to
                        additional content.
                    </p>
                    <button class="btn btn-primary" >Go somewhere</button>
                </div>
            </div>
        </div>
    </div>
</div>