<h2 class="text-center fs-1">Efetuar Login</h2>
<div class="container">
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CPF</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </form>
        <button class="btn btn-primary" (click)="btnDoLogin()">Logar</button>
        <button class="btn btn-primary" (click)="btnEnterAnonymous()">Entrar Anônimo</button>
    </div>
</div>